<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styleTwo.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="menu">
      <div class="closeSession">
        <div class="imgCloseSession" onclick="closeSession()"></div>
      </div>
      <div class="profile"></div>
      <h1 id="username">{{ username }}</h1>
      <h3>Usuario</h3>
    </div>
    <div class="chat">
      <div class="messages">
        <div class="tittleWel">
          <h1>Welcome to Fedora</h1>
        </div>
        <div id="messages" class="msgsUsers"></div>
        <div class="sendmsg">
          <input type="text" id="messageText" placeholder="Mensaje" />
          <button onclick="sendMessage(event)"></button>
        </div>
      </div>
    </div>
  </body>
  <script>
    var username = "{{ username }}";
    var ws = new WebSocket(`ws://localhost:8000/ws/${username}`);

    ws.onmessage = function (event) {
      var messages = document.getElementById("messages");
      var message = document.createElement("div");
      message.classList.add("msg");
      var imgUser = document.createElement("div");
      imgUser.classList.add("imgUser");
      var content = document.createElement("h4");
      content.textContent = event.data;

      message.appendChild(imgUser);
      message.appendChild(content);
      messages.appendChild(message);
    };

    function sendMessage(event) {
      var input = document.getElementById("messageText");
      if (input.value.trim() !== "") {
        ws.send(input.value);
        input.value = "";
      }
      event.preventDefault();
    }

    function closeSession() {
      window.location.href = "/";
    }

    document.getElementById("messageText").addEventListener("keydown", function (event) {
      if (event.key === "Enter") {
        sendMessage(event);
      }
    });

  </script>
</html>
