<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="welcome">
      <form action="/chat">
        <div class="welcomeTittle">
          <h4>
            Welcome to <br />
            <span class="tittle">Fedora Chat Global</span>
          </h4>
        </div>

        <input
          name="username"
          type="text"
          placeholder="Nombre de usuario"
          class="inputUsername"
        />

        <button type="submit" class="buttonUsername">Entrar</button>
      </form>

      <div class="formImg"></div>
    </div>
  </body>
</html>
